<form [formGroup]="orderSearchForm" (ngSubmit)="submitForm($event)">
    <div class="row">
        <div class="col-6">
            <label for="descriptionId">Description:</label>
            <input formControlName="description"  id="descriptionId"
            class="form-control me-2" 
            type="search"
             placeholder="Input description" 
             aria-label="Search">
        </div>
        <div class="col-6">
            <label for="countryId">Country:</label>
            <select id="countryId" class="form-control" formControlName="country">
                <option value=""> Select country </option>
                <option *ngFor="let c of countries" [value]="c.code">{{ c.name }}</option>
            </select>
        </div>
    </div>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-outline-success mt-3" type="submit">Search</button>
          </div>
</form>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Order Number</th>
            <th scope="col">Country</th>
            <th scope="col">Street Addreress</th>
            <th scope="col">Town</th>
            <th scope="col">Payment description</th>
            <th scope="col">Payment due date</th>
            <th scope="col">Anount</th>
            <th scope="col">Currency</th>
        </tr>
    </thead>
    <tbody>
        @for (order of orders(); track order.id) {
        <tr>
            <td>{{order.orderNumber}}</td>
            <td>{{order.countryCode}}</td>
            <td>{{order.streeetAddress}}</td>
            <td>{{order.town}}</td>
            <td>{{order.paymentDescription}}</td>
            <td>{{order.paymentDueDate | date:'yyyy-MM-dd' }}</td>
            <td>{{order.amount}}</td>
            <td>{{order.currency}}</td>
        </tr>
        }
    </tbody>
</table>